[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Karl Bates
	email = karl@circuitmind.io
[rebase]
	updateRefs = true
